:root {
    --primary-color: #4F7CAC;
    --secondary-color: #3C474B;
    --accent1-color: #C0E0DE;
    --accent2-color: #162521;
    --misc-color: #9EEFE5;

    
    background-color: var(--primary-color);
}


h1, h2, h3, nav{
  font-family: "SUSE", system-ui;
  font-weight: 608;
  font-style: normal;
  color: var(--accent1-color);
}

figure img{
    width: 100%;
    height: auto;
}



iframe {
    height: 200px;
    width: auto;
}

p {
  font-family: "Afacad Flux", system-ui;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    color: var(--accent1-color);
    max-width: 60%;
    text-align: center;
}

#sociallinks a{
    text-decoration: none;
}

/* Hero styling */
.hero img{
    display: block;
    width: 100%;   /* I do not see a way on PC to get a width of 100% without any kind of pixelating. Also, there's NO */
    height: auto;
}

.hero h1    {
    position: absolute;
    text-align: center;
    left: 40%;
}
.hero article{
    position: absolute;
    top: 40%;
    left: 150px;
    display: block;
    width: 80%;
    background-color: #16252154; /* tried to find a way to do it with the variable and hex. couldn;t. */
}
.hero article img {
    float: right;
    height: 10%; 
    width: 10%;
}




#sociallinks img {
    height: 50px;
    width: 50px;
}

/* TOP BOX */

.top-box {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px;
    justify-content: center;
    background-color: var(--misc-color);
}

#top-box-logo {
    grid-column: 1;
    grid-row: 1;
    justify-self: center; 
}

#top-box-nav {
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-self: flex-start;
    align-self: center;
    font-size: 200%;
}

/* HISTORY */

#history {
    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40px 320px;
}

#history-title{
    grid-column: 2;
    grid-row: 1;

    display: flex;
    justify-self: center;
}

#history-content {
    grid-column: 2;
    grid-row: 2;

    display: flex;
    align-items: center;
    justify-self: center;
}

#history-img1{
    grid-column: 1;
    grid-row: 2;

    display: flex;
    align-self: center;
    justify-self: flex-end;
    height: 250px;
    width: auto;
}

#history-img2{
    grid-column: 3;
    grid-row: 2;

    display: flex;
    align-self: center;
    justify-self: flex-start;;
    height: 250px;
    width: auto;
}
/* ADVENTURE BOX */

#adventure {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 20% 80%;

    background-color: var(--secondary-color);
}

#adventure-title {
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
}

#adventure-fig1 {
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

#adventure-fig2 {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

#adventure-fig3 {
    grid-column: 3;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

#adventure-fig4 {
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}

#adventure-fig5 {
    grid-column: 5;
    grid-row: 2;
    justify-self: center;
    align-self: center;
}



/* END BOX */
#end-box {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 80px;
}

#credits {
    grid-column: 2;
    grid-row: 1;

    justify-self: center;
    align-self: start;
}

#sociallinks {
    grid-column: 3;
    justify-self: flex-end;
    align-self: flex-end;
}


                                            /* Contact page start */

                                            /* Company Info  */
#company-info {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 50px 300px;
    background-color: var(--secondary-color);
    border-color: var(--accent2-color);
    border-top: 5px solid;
}

#company-info-head {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

#company-info-contact {
 grid-column: 2;
 grid-row: 2;
 justify-self: center;
 align-self: center;
}

#map {
    grid-column: 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    border-color: var(--primary-color);
    border-top: 3px ridge;
    border-left: 3px ridge;
    border-bottom: 3px ridge;
    border-right: 3px ridge;
}




                                        /* employee block */


#employee-block {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 250px;
    background-color: var(--misc-color);
}

#employee-block figure figcaption {
    font-family: "SUSE", system-ui;
    font-weight: 608;
    font-style: normal;
    color: var(--accent2-color);
}


#empimg1 {
    height: 200px;
    width: auto;
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: center;
    
}

#empimg2 {
    height: 200px;
    width: auto;
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}

#empimg3 {
    height: 200px;
    width: auto;
    border-color: var(--accent2-color);
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-right: 2px solid;
    grid-column: 3;
    grid-row: 1;
    justify-self: center;
    align-self: center;
}


#employee-block.figcaption {

}



#questionaire {

}

.questionaire-item-box1 {

}

.questionaire-item-box2 {

}