:root {
    --primary-color: #4F7CAC;
    --secondary-color: #3C474B;
    --accent1-color: #C0E0DE;
    --accent2-color: #162521;
    --misc-color: #9EEFE5;

    max-width: 75%;
}


h1, h2, h3 {
  font-family: "SUSE", system-ui;
  font-optical-sizing: auto;
  font-weight: 608;
  font-style: normal;
  color: var(--accent2-color);
}



p {
  font-family: "Afacad Flux", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    color: var(--accent2-color);
}

.sociallinks a{
    text-decoration: none;
}

/* Hero styling */
.hero img{
    display: block;
    width: 60%;
    height: auto;
}

.hero h1    {
    position: absolute;
    text-align: center;
}
.hero article{
    position: absolute;
    display: block;
}
.hero article img {
    float: right;
    height: 10%; 
    width: 10%;
}




.sociallinks img {
    height: 50px;
    width: 50px;
}