:root {
    --primary-color: #4F7CAC;
    --secondary-color: #3C474B;
    --accent1-color: #C0E0DE;
    --accent2-color: #162521;
    --misc-color: #9EEFE5;

    
    background-color: var(--secondary-color);
}


h1, h2, h3 {
  font-family: "SUSE", system-ui;
  font-weight: 608;
  font-style: normal;
  color: var(--accent1-color);
}



p {
  font-family: "Afacad Flux", system-ui;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
    color: var(--accent1-color);
    max-width: 60%;
    text-align: center;
}

.sociallinks a{
    text-decoration: none;
}

/* Hero styling */
.hero img{
    display: block;
    width: 100%;   /* I do not see a way on PC to get a width of 100% without any kind of pixelating. Also, there's NO */
    height: auto;
}

.hero h1    {
    position: absolute;
    text-align: center;
    left: 40%;
}
.hero article{
    position: absolute;
    top: 40%;
    left: 150px;
    display: block;
    width: 80%;
    background-color: #16252154; /* tried to find a way to do it with the variable and hex. couldn;t. */
}
.hero article img {
    float: right;
    height: 10%; 
    width: 10%;
}




.sociallinks img {
    height: 50px;
    width: 50px;
}