main {
    max-width: 840px;
}

main img{
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside{
    width: 300px;
    margin: 30px;
    border: 2px;
    padding: 10px;
    background-color: burlywood;
    color: green;
}

aside img{
    width: 200px;
    height: auto;
}

footer{
    margin-top: 20px;
    border-top: 5px;
    text-align: center;
}

nav{
    background-color: steelblue;
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color: steelblue;
}

p{
    padding: 0;
}


